body {
    background: #f5d9d5;
    font-family: "Nunito", sans-serif;
}

#mainNavbar .navbar-brand {
    color: #ea1c2c;
    font-size: 1.5rem;
    font-weight: 100;
}

#mainNavbar .nav-link {
    color: white;

}

#mainNavbar .nav-link:hover {
    color: #ea1c2c    
}

#mainNavbar {
    font-size: 1.5rem;
    font-weight: 100;
}

#headerGroup span {
    color: #ea1c2c;
}

#headerGroup h2 {
    font-size: 3rem;
    font-weight: 100;
    margin-top: 1rem;
}

@media (max-width: 1200px) {
    #headerGroup h2 {
    font-size: 2rem;
    font-weight: 100;
    margin-top: 1rem;
}
}

.blurb h2 {
    color: #ea1c2c;
    font-weight: 100;
    font-size: 2.5rem;
}

.blurb p {
    color:#f498b8;
    font-weight: 100;
    font-size: 1.125rem;
    line-height: 2;
}

section {
    margin-top: 100px;
    margin-bottom: 100px;
}

.navbar.scrolled {
    background: rgb(222, 192, 222);
}